<head>
  <style>
    .footer{
      position: fixed;
      bottom: 0;
      background-color: #0e1c35 !important;
      border: none !important;
      height: 25px;
    }
  </style>
</head>

<footer class="footer">

  <p class="footer-name" style="font-size: 16px !important; line-height: 10px;"> &copy; <a href="#" target="_blank"><b>toantqt</b> </a></p>

</footer>

