<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/image/favicon.ico" type="image"/>
  <!-- <% include ./parts/head.ejs %>
  <link rel="stylesheet" href="file/to/path/css/emojionearea.min.css">
  <script type="text/javascript" src="file/to/path/js/emojionearea.min.js"></script>
  -->
  <script src="/js/jquery-3.1.1.min.js"></script>
  <link rel="stylesheet" href="/emoji/emojionearea.min.css">
  <script type="text/javascript" src="/emoji/emojionearea.min.js"></script>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/elegant-icons-style.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>
    
    #you{
      float: left !important;
      clear: both;
    }
    #me{
      float: right !important;
      clear: both;
      background-color: #0084ff !important;
     
    }
    #me p{
      color: white !important;
    }
    #ubtn{
      margin-top: 5px;
    }
    #none{
      background-color: white !important;
    }
    #list-room{
      text-align: center;
      background-color: #337ab7;
      color: white;
      font-size: 20px;
      border-radius: 15px;
    }
    
    #sendBtn{
      float: right;
      margin-top: -30px;
      display: inline-block;
      margin-right: 130px;
    }
    #btn-addMember{
      margin-bottom: 6px;
      padding: 7px 10px;
      font-size: 12px;
    }

  </style>
</head>
<body>
  <% include ./parts/header.ejs %>
<hr><br>
  <main>
    <div class="container">
      <!-- Button to Open the Modal -->
    
      <!-- The Modal -->
      <div class="modal" id="myModalMember">
        <div class="modal-dialog">
          <div class="modal-content">
          
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add Member</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            
            <!-- Modal body -->
            <div class="modal-body">
              <div id="form-addMember">
                <form id="addMember">
                  <label>Friend Name</label>
                  <input type="text" id="name-member">
                  <button id="btn-addMember" class="btn btn-success  btn-md">Add to Room</button>
                </form>
              </div>
              <hr>
              <div>
                <ul id="list-member">

                </ul>
              </div>
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            
          </div>
        </div>
      </div>
  <!-- 
      modal2 change Password -->
    </div>
    <div class="container-fluid">
      <input type="hidden" id="user" value="<%= user.username %>"/>
      <div class="row w-100">
        <div class="col-sm-4" style="margin-top: 30px;">
          <div class="panel panel-primary">
            <div class="panel-heading" style="height: 45px; text-align: center">
              <label>Chat Options</label>
              <div  class="dropdown" style=" float: right;"> 
                <button class="btn-friend" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i title="Add Group" class="fas fa-users font-30" style="color: white; line-height: 30px;"></i> 
                </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="height: 200px; width: 300px; margin-top: 5px;">
                <form style="margin-left: 30px; margin-top: 20px;" id="addGroup">
                  <div class="form-group" style="width: 70%;">
                    <label for="exampleInputEmail1" style="font-size: 16px;">Name Group</label>
                    <input type="text" id="nameGroup" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name group" style="height: 40px; font-size: 16px;">
                 </div>
                  <button class="btn btn-primary" style="width: 80px; height: 40px; font-size: 20px;">Add</button>
                </form>
          
              </div>
            </div>
            </div>
            <div class="panel-body" id="scrl1">
              <ul id="list" ></ul>
            </div>
            <div class="panel-footer">
             
            </div>
          </div>
        </div>
        <div id="frameChat" class="col-sm-8" style="margin-top: 30px;">
          <div class="panel panel-primary">
            <div class="panel-heading" style="height: 45px; text-align: center;">
              <h4 id="frndName">Chat Room</h4>
            </div>
            <div class="panel-body" id="scrl2">
              <p id="loading" style="text-align: center;">Loading..... Please Wait.</p>
              <p id="noChat" style="text-align: center;">No More Chats To Display.....</p>
              <p id="initMsg" style="text-align: center;">Click On User Or Group Button To Start Chat</p>
              <ul id="messages">
                
              </ul>
            </div>

            <div class="panel-footer">
              <p id="typing" style="color: red;"></p>
              <form id="chatForm" action="">
                <input id="myMsg" type="text" class="input-box-send" autocomplete="off" placeholder="Write Message Here.." />
                <button id="sendBtn" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-send"></span> <b>Send</b></button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <% include ./parts/footer.ejs %>
  
    <script src="/js/scriptForChat.js"></script>
    <script type="text/javascript" src="/js/sendRequest.js"></script>
    <script>
    $(document).ready(function(){
     
    });
 //end of keyup handler.
     </script>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/socket.io-1.7.3.js"></script>
</body>
</html>
