<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
  <!-- <link rel="stylesheet" href="file/to/path/css/emojionearea.min.css">
  <script type="text/javascript" src="file/to/path/js/emojionearea.min.js"></script> -->
  <style>
    #you{
      float: left !important;
      clear: both;
    }
    #me{
      float: right !important;
      clear: both;
    }
  </style>
</head>
<body>
  <% include ./parts/header.ejs %>
<hr><br>
  <main>
    <div class="container-fluid">
      <input type="hidden" id="user" value="<%= user.username %>"/>
      <div class="row w-100">
        <div class="col-sm-4" style="margin-top: 30px;">
          <div class="panel panel-primary">
            <div class="panel-heading" style="height: 45px; text-align: center;">
              <h2>Chat Options</h2>
            </div>
            <div class="panel-body" id="scrl1">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
              <ul id="list" ></ul>
            </div>
            <div class="panel-footer">
             
            </div>
          </div>
        </div>
        <div id="frameChat" class="col-sm-8" style="margin-top: 30px;">
          <div class="panel panel-primary">
            <div class="panel-heading" style="height: 45px; text-align: center;">
              <h4 id="frndName">Chat Room</h4>
            </div>
            <div class="panel-body" id="scrl2">
              <p id="loading">Loading..... Please Wait.</p>
              <p id="noChat">No More Chats To Display.....</p>
              <p id="initMsg">!!...Click On User Or Group Button To Start Chat...!!</p>
              <ul id="messages"></ul>
            </div>

            <div class="panel-footer">
              <form id="chatForm" action="">
                <input id="myMsg" class="input-box-send" autocomplete="off" placeholder="Write Message Here.." />
                <button id="sendBtn" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-send"></span> <b>Send</b></button>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </main>

  <% include ./parts/footer.ejs %>

  <script src="/js/scriptForChat.js"></script>
  <script type="text/javascript" src="/js/sendRequest.js"></script>
  <!-- <script>
     $(document).ready(function() {
        $("#myMsg").emojioneArea();
     });
  </script> -->
  <script src="/js/jquery-3.1.1.min.js"></script>
</body>
</html>
