<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./parts/head.ejs %>
  <link rel="stylesheet" href="/css/base.css">
  <style>
.page-login label {
        text-decoration: none;
        font-family: Segoe UI;
        font-size: 14px;
        font-weight: 600;
        margin-left: 5px;
        text-decoration: none;
    }

    .page-login .box-login {
        z-index: 1;
    }

    .page-login .require {
        color: red;
        font-weight: bold;
    }

    .page-login .container {
        height: 660px;
        background-color: #f9f9f9;
    }

    .page-login .box-login {
        background-color: white;
        width: 350px;
        height: auto;
        margin: auto;
        padding-bottom: 15px;
        border: 1px solid #337ab7;
        border-radius: 4px;
    }

    .page-login .box-input {
        margin: 20px 20px 5px 20px;
    }

    .page-login .box-input input:not([type="checkbox"]) {
        margin: 5px 5px 15px 5px;
        width: 302px;
    }

    .page-login .box-control {
        margin: 5px 5px 15px 20px;
        display: inline-block;
    }

    .page-login .box-control .btn-2-col {
        width: 145px;
    }

    .page-login .box-control .btn-1-col {
        margin: 0px 5px 5px 5px;
        width: 302px
    }

    .page-login .box-control .btn-2-col:nth-child(odd) {
        margin: 0px 2.5px 5px 5px;
    }

    .page-login .box-control .btn-2-col:nth-child(even) {
        margin: 0px 2.5px 5px 5px;
    }

  </style>
</head>

<body>
    <div class="page-login">
        <div class="container">
            <div class="top" style="text-align: center; padding-top: 20px;">
                <img width="100" height="100" src="/image/logo.png" id="logo"/>
                <h1 style="color: #5bc0de;"> JOIN CHAT </h1>
            </div>
            <div class="box-login">
                <form action="/user/api/v1/signup" method="post">
                    <div class="box-input">
                        <label>Username</label><label class="require"> *</label>
                        <input type="text" class="large-input-text txt" id="uname" name="username" placeholder="Username" required/>
                        <br/>
                        <label>Email</label><label class="require"> *</label>
                        <input type="email" class="large-input-text" id="email" name="email" placeholder="Email"/>
                        <br/>
                        <label>Password</label><label class="require"> *</label>
                        <input type="password" class="large-input-text" id="pass" name="password" placeholder="Password" required/>
                        <br/>
                        
                    </div>
                    <div class="box-control">
                        <input type="submit" class="large-btn info btn-1-col" id="btnSubmitRegister" value="Register"/>
                    </div>
                    <div class="text-center"><label>Have an account,</label> <a href="/user/login">login now.</a></div>
                </form>
            </div>
        </div>
    <!-- <div class=" login-container">
        <div class="row">
            <div class="col-md-6 login-form-1">
                <h3>Sign Up</h3>
                <form action="/user/api/v1/signup" method="post">
                    
                    <div class="form-group">
                        <p>Username:</p>
                        <input id="uname"  class="form-control" type="text" name="username" placeholder="Username" autofocus autocomplete="off" required/>
                    </div>
                    <div class="form-group">
                        <p>Email:</p>
                        <input id="email" class="form-control" type="email" name="email" placeholder="Email" autocomplete="off" required/>
                    </div>
                    <div class="form-group">
                        <p>Password:</p>
                        <input id="pass" class="form-control" type="password" name="password" placeholder="Password" required/>  
                    </div>
                    <button class="btn btn-primary btn-block btn-lg" type="submit" name="submit">Signup</button><br>
                    <p><b>Have an account?</b> </p>
                    <a href="/user/login"  class="btn btn-danger btn-lg btn-block"><b>Log In Here</b></a><br>
                </form>
            </div>
    </div> -->

</body>